MyMusicBot_Token=
# Official Spotify API (Optional, requires Spotify Premium)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# Cookie file for age-restricted YouTube content (Optional)
# Setup.md already covers where to put cookies.txt file, if you want to set your cookie file outside of resources/ or even a different file name, give full path to that file (e.g .../folder/mycookies.txt)
# YTDLP_COOKIE_FILE=
